.Truyen{
    padding: 0 20px;
    background-color: white;
}
.head{
    padding-bottom: 20px;
    > div:first-of-type{

    }
    > .option{
        display: flex;
        margin-top: 20px;
        >div:first-of-type{
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            >label{
                border: 2px solid;
                background-color: white;
                padding: 0 10px;
            }

        }
        >div:nth-child(2){
            width: 50%;
            display: flex;
            justify-content: end;
            align-items: center;
        }
    }
}