.BuyPremium{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 80vh;
    z-index: 1000;
    >.main{
        background-color: white;
        border: 1px solid;
        box-shadow: 5px 5px 6px 4px rgba(0, 0, 0, 0.3);
        >.head{
            padding: 5px 0;
            background: linear-gradient(180deg, #C0C0C0 0%, #FFFFFF 50%, #C0C0C0 100%);
            position: relative;
            >h1:first-of-type{
                margin: 0;
                text-align: center;
                color: #a88e00;
                font-weight:900;
                text-shadow: 2px 2px 3px black;
            }
            >h1:nth-of-type(2){
                width: 100%;
                padding: 5px 0;
                margin: 0;
                text-align: center;
                position: absolute;
                top: 0;
                left: 0;
                background: linear-gradient(180deg, #FFD700 9.62%, #fff4bc 50%, #FFD700 81.25%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }
        }
        >.body{
            padding: 10px 30px 30px 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            >p{
                padding: 0;
                margin: 0;
            }
            >button{
                margin-top: 20px;
                width: 30%;
                aspect-ratio: 3/1;
            }
        }
    }
}