
.story-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 13%;
  margin-top: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    > p {
      color: #e46a06;
    }
  }
}

.story-image {
  width: 100%;
  aspect-ratio: 2/3;
  object-fit: cover;
}

.story-title {
  padding: 8px;
  font-size: 18px;
  font-family: 'Prata', serif;
}